$header-height: 95px;
$sidebar-width: 232px;
 
.header {
  height: $header-height;
  background-color: #F2F2F2;
  border-bottom: #EEEEEE solid 1px; 
  display: flex;
  justify-content: space-around; 
}

#mySearch {
  border-radius: 21px;
  margin-top: 27px;
  margin-bottom: 27px;
  padding-left: 20px;
  padding-right: 50px;
  border: 1px solid #BCBCBC;
}


