.section {
  color: $black;
  
  .section__title {
    border-bottom: 1px solid $black;
  }

  .section__content {
    margin-top: 30px;
  }
}



// .section {
//   color: #000;
// }

// .section .section__title {
//   border-bottom: 1px solid #000;
// }

// .section . section__content {
//   margin-top: 30px;
// }