.main {
  display: flex;
  height: calc(100vh - $header-height);
}

.sidebar__area {
  width: $sidebar-width;
  background-color: #FFFFFF; 
  border-right: #EEEEEE solid 1px;
}

.section {
  margin-left: 51px;
}

.section__title {
  font-size: 56px;
  line-height: 67px;
  color: #333333;
}

.section__content {
  padding-top: 30px;
  border-top: #0D3268 solid 1px;
}

.section:nth-child(1) {
  margin-top: 43px;
}

.content__area {
  width: calc(100% - $sidebar-width);
  background-color: aliceblue;
  overflow-y: auto;
}

.sidebar__area li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  border-bottom: #EEEEEE solid 1px; 
  text-decoration: none;
  background-color: #F9F9F9;
  color: #838D8F;
  
  &:hover {
    background-color: #FFFFFF;
    opacity: 1;
    color: #0D3268;
  }
}


.sidebar__area a{
  color: #3B3D40;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.visually-hidden {
  clip: rect(0 0 0 0); 
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
//---/
.introduction-input {
  &:checked {
    ~ .introduction-content {
      max-height: 100px;
    }
  }
  &:focus {
    ~ .introduction-button {
      background-color: red;
    }
  }
  &:checked {
    ~ .introduction-button {
      opacity: 1;
    }
  }
}

.introduction-content {
  max-height: 0;
  transition: max-height 0.5s ease;
  overflow: hidden;
}

.introduction-button {
  cursor: pointer;
  border-bottom: 1px solid #000;
  display: flex;
  color: #3B3D40;
  padding-top: 16px;
  padding-bottom: 13px;
  padding-left: 22px;
  border-bottom: #EEEEEE solid 1px; 
  text-decoration: none;

  &:hover {
    background-color: aqua;
  }
}
//---/

.visualstyle-input {
  &:checked {
    ~ .visualstyle-content {
      max-height: 100px;
    }
  }
  &:focus {
    ~ .visualstyle-button {
      background-color: red;
    }
  }
  &:checked {
    ~ .visualstyle-button {
      opacity: 1;
    }
  }
}

.visualstyle-content {
  max-height: 0;
  transition: max-height 0.5s ease;
  overflow: hidden;
}

.visualstyle-button {
  cursor: pointer;
  border-bottom: 1px solid #000;
  display: flex;
  color: #3B3D40;
  padding-top: 16px;
  padding-bottom: 13px;
  padding-left: 22px;
  border-bottom: #EEEEEE solid 1px; 
  text-decoration: none;
  background-color: #FFFFFF;

  &:hover {
    background-color: aqua;
  }
}
 //===//
 .voice-input {
  &:checked {
    ~ .voice-content {
      max-height: 100px;
    }
  }
  &:focus {
    ~ .voice-button {
      background-color: red;
    }
  }
  &:checked {
    ~ .voice-button {
      opacity: 1;
    }
  }
}

.voice-content {
  max-height: 0;
  transition: max-height 0.5s ease;
  overflow: hidden;
}

.voice-button {
  cursor: pointer;
  border-bottom: 1px solid #000;
  display: flex;
  color: #3B3D40;
  padding-top: 16px;
  padding-bottom: 13px;
  padding-left: 22px;
  border-bottom: #EEEEEE solid 1px; 
  text-decoration: none;
  background-color: #FFFFFF;

  &:hover {
    background-color: aqua;
  }
}

//wddw//

.components-input {
  &:checked {
    ~ .components-content {
      max-height: 450px;
    }
  }

  &:focus {
    ~ .components-button {
      background-color: red;
    }
  }
  &:checked {
    ~ .components-button {
      opacity: 1;
    }
  }
}

.components-content {
  max-height: 0;
  transition: max-height 0.5s ease;
  overflow: hidden;
}

.components-button {
  cursor: pointer;
  border-bottom: 1px solid #000;
  display: flex;
  color: #3B3D40;
  padding-top: 16px;
  padding-bottom: 13px;
  padding-left: 22px;
  border-bottom: #EEEEEE solid 1px; 
  text-decoration: none;
  background-color: #FFFFFF;

  &:hover {
    background-color: aqua;
  }
}

//wdwd//

.utility-input {
  &:checked {
    ~ .utility-content {
      max-height: 100px;
    }
  }
  &:focus {
    ~ .utility-button {
      background-color: red;
    }
  }
  &:checked {
    ~ .utility-button {
      opacity: 1;
    }
  }
}


.utility-content {
  max-height: 0;
  transition: max-height 0.5s ease;
  overflow: hidden;
}

.utility-button {
  cursor: pointer;
  border-bottom: 1px solid #000;
  display: flex;
  color: #3B3D40;
  padding-top: 16px;
  padding-bottom: 13px;
  padding-left: 22px;
  border-bottom: #EEEEEE solid 1px; 
  text-decoration: none;
  background-color: #FFFFFF;

  &:hover {
    background-color: aqua;
  }
}

//wddw//

.resources-input {
  &:checked {
    ~ .resources-content {
      max-height: 100px;
    }
  }
  &:focus {
    ~ .resources-button {
      background-color: red;
    }
  }
  &:checked {
    ~ .resources-button {
      opacity: 1;
    }
  }
}

.resources-content {
  max-height: 0;
  transition: max-height 0.5s ease;
  overflow: hidden;
}

.resources-button {
  cursor: pointer;
  border-bottom: 1px solid #000;
  display: flex;
  color: #3B3D40;
  padding-top: 16px;
  padding-bottom: 13px;
  padding-left: 22px;
  border-bottom: #EEEEEE solid 1px; 
  text-decoration: none;
  background-color: #FFFFFF;

  &:hover {
    background-color: aqua;
  }
}
