svg:nth-child(-n+4) {
  margin-right: 30px;
  margin-left: 30px;
}

.icons {
  display: flex;
  align-items: center;
}

.icons ul{
  display: flex; 
  
  li { 
    display: block;
  }
}

.svg_shadows_red:hover {
  filter: drop-shadow(10px -5px 1px red);
}

.svg_shadows_brown:hover {
  filter: drop-shadow(10px -5px 1px rgb(110, 107, 13));
}

.svg_shadows_blue:hover {
  filter: drop-shadow(10px -5px 1px rgb(47, 13, 110));
}

.svg_shadows_green:hover{
 filter: drop-shadow(10px -5px 1px rgb(0, 166, 0));
}
